/build/
/dist/
/vcpkg_installed/
/.vs/
/build-settings.json
/commonlib.lock.txt
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.dll
*.exe
*.obj
*.o
*.lib
*.pdb
*.ilk
*.exp
*.user
*.suo
__pycache__/
*.pyc
*.pyo
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db
